<div class="bg-white ">
  <nav class="flex p-8 lg:px-12" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5 flex">
        <span class="sr-only">Swisstopo</span>
        <img class="h-8 w-auto" src="/img/flag.png" alt="">
        <img class="h-8 w-auto" src="/img/swisstopo.png" alt="">
        <div role="separator" aria-hidden="true" class="w-[1px] mx-8 bg-gray-300"></div>
        <div>
          <span class="font-semibold">GéoPlateforme Suisse</span>
        </div>
      </a>
    </div>
  </nav>
</div>
