<div class="flex flex-col container relative w-full mx-auto">
  <div class="flex gap-8">
    <div class="w-1/2">
      <div class="h-48 flex items-center sticky -top-12 z-10">
        <app-home-search class="grow"></app-home-search>
      </div>
      <div class="flex z-0">
        <gn-ui-results-list-container
          [metadataQualityDisplay]="false"
          (mdSelect)="onMetadataSelection($event)"
          showMore="button"
        ></gn-ui-results-list-container>
      </div>
    </div>
    <div class="w-1/2">
      <div class="h-48 flex items-center justify-center">
        <div class="flex flex-col text-center text-title">
          <div class="text-5xl font-bold">Bienvenue</div>
          <div class="text-lg">sur la plateforme des géodonnées suisses</div>
        </div>
      </div>
      <div class="h-[600px] sticky top-6">
        <gn-ui-map-state-container></gn-ui-map-state-container>
      </div>
    </div>
  </div>
</div>
