<div
  class=" flex container relative h-full  w-full mx-auto"
>
  <div class="h-[400px] flex grow">

  <div class="w-1/2">
    <app-home-header></app-home-header>
  </div>
  <div class="w-1/2">
    <iframe src="https://map.geo.admin.ch/#/embed?lang=fr&center=2660000,1190000&z=1&topic=ech&layers=ch.swisstopo.zeitreihen@year=1864,f;ch.bfs.gebaeude_wohnungs_register,f;ch.bav.haltestellen-oev,f;ch.swisstopo.swisstlm3d-wanderwege,f;ch.vbs.schiessanzeigen,f;ch.astra.wanderland-sperrungen_umleitungen,f&bgLayer=ch.swisstopo.pixelkarte-farbe" style="border: 0;width: 100%;height: 100%;max-width: 100%;max-height: 100%;" allow="geolocation"></iframe>
  </div>
  </div>

</div>

