<div class="bg-white flex border-y border-gray-300">
  <nav class="h-[4rem] px-10 flex" aria-label="Menu">
    <ul class="flex h-full">
      <li class="">
        <a class="menu-item">
          <span>Données</span>
        </a>
      </li>
      <li class="">
        <a class="menu-item">
          <span>Services</span>
        </a>
      </li>
      <li class="">
        <a class="menu-item">
          <span>Actualités</span>
        </a>
      </li>
      <li class="">
        <a class="menu-item">
          <span>Organisations</span>
        </a>
      </li>

    </ul>
  </nav>
  </div>
